body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.container {
    position: relative;
    display: inline-block;
}

#camera {
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
}

.redBox {
    position: absolute;
    border: 2px solid red;
    pointer-events: none; /* 禁用紅框的點擊事件，使其不影響攝像頭預覽 */
}

#redBox1 {
    width: 30px;
    height: 50px;
    top: 20%;
    left: 20%;
}

#redBox2 {
    width: 30px;
    height: 50px;
    top: 20%;
    left: 30%;
}

#redBox3 {
    width: 30px;
    height: 50px;
    top: 20%;
    left: 40%;
}


#analyzeBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 16px;
}





