body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#videoContainer {
    position: relative;
}

video, canvas {
    max-width: 100%;
    height: auto;
}

.frame {
    position: absolute;
    border: 2px solid red;
}

#frameLeft {
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    height: 30%;
}

#frameRight {
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    height: 30%;
}

#frameBase {
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    width: 30%;
    height: 10%;
}

#snap, #analyze, #download {
    margin-top: 10px;
}

.label {
    position: absolute;
    color: red;
    background-color: transparent;
    padding: 2px 5px;
    font-size: 12px;
    border: none; /* 移除邊框 */
}

#labelLeft {
    left: 15%;
    top: calc(50% - 25%);
    transform: translateY(-50%);
}

#labelRight {
    right: 15%;
    top: calc(50% - 25%);
    transform: translateY(-50%);
}

#labelBase {
    left: 50%;
    top: calc(80% - 10%);
    transform: translateX(-50%);
}
